# Created by https://www.gitignore.io/api/intellij,clojure

.idea/

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

### Intellij Patch ###
*.iml

### Clojure ###
pom.xml
pom.xml.asc
*jar
lib/
classes/
target/
checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

# Mac
.DS_Store
